@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

body {
  background: #D64541;
  color: black;
  font-family: 'Roboto';
}
.flat-form {
  background: #BDC3C7;
  margin: 25px auto;
  width: 400px;
  height: 200px;
  position: relative;
  font-family: 'Roboto';
}
.tabs {
  background: #95A5A6;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.tabs li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.tabs a {
  background: #95A5A6;
  display: block;
  float: left;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
  width: 100%;
  /*border-right: 1px solid @tab-border;*/

}
.tabs li:last-child a {
  border-right: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.tabs a.active {
  background: #BDC3C7;
  border-right: none;
  
}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 15px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #e74c3c;
  outline: none;
}

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
    border: none;
    display: block;
    background: #D64541;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button:hover {
  background: #E74C3C;
  -webkit-transform: scale(1.05);
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #E74C3C;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color: #e74c3c;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #e74c3c;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e74c3c;
}
:-ms-input-placeholder {
  color: #e74c3c;
}


img{border:0; margin: 0; padding: 0;}
#social-links ul li span.ifacebook,
		#social-links ul li span.itwitter,
		#social-links ul li span.igoogleplus {
			display: inline-table;
			width: 41px;
			text-align: center;
		}
		span.ifacebook { background: #354f88; padding: 7px 14px 6px 14px; cursor: pointer;}
		span.itwitter { background: #40a2d1; padding: 10px 0 10px 0;  cursor: pointer;}
		span.igoogleplus { background: #ce3e26; padding: 7px 10px 7px 10px;  cursor: pointer;}
		
		a.afacebook,
		a.atwitter,
		a.agoogleplus {
			display: inline-table;
			color: #ffffff;
			text-decoration: none;
			margin: 0;
			width: 250px;
			text-align: center;
		}
		a.afacebook { background: none; padding: 10px 0 10px 0; }
		a.atwitter { background: none; padding: 10px 0 10px 0; }
		a.agoogleplus { background: none; padding: 10px 0 10px 0; }
	
		a.afacebook:hover { background: none; }
		a.atwitter:hover { background: none; }
		a.agoogleplus:hover { background: none; }
		
		li {list-style: none;}
		#fb{
		background: #3b5998;
		cursor: pointer;
		}
		
		#fb:HOVER{
		background: #354f88;
		cursor: pointer;
		}
		#gp{
		background: #de4c34;
		cursor: pointer;
		}
		#gp:HOVER{
		background: #ce3e26;
		cursor: pointer;
		}
		
		
		/*
		For the Google + sign in button
		*/
		 #customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 360px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #customBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    span.label {
      font-weight: bold;
    }
   
   #Login
   {
      text-align: center;
      size: 15px;
   }