@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);
*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#34495E;
  
}

h2,p{
  font-size:100%;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family:"Gafata",arial,sans-serif;
  font-size:100%;
}
ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}

li a{overflow: auto;}

#enterNotes:FOCUS{
	width:70%;
	vertical-align: middle;
	z-index: 1;
}

#divEnterNotes{
	text-align:center;
	vertical-align: middle;
	
}

.hashtag{
	color: white;
	color: #ECF0F1;
	background-color: #2980B9;
	border-radius:6px;
	padding: 2px;
	margin:1px;
}

.hashtag:HOVER{
	
	cursor: pointer;
	
}

#stickyContainer{
	
	overflow:auto; 
}

.icon{
	width:20px;
	height:20px;
}

.edit:HOVER{
	width:22px;
	height:22px;
	-webkit-transform: rotate(-65deg);
	cursor: pointer;
}

.delete:HOVER{
	width:22px;
	height:22px;
	-webkit-transform: rotate(-90deg);
	cursor: pointer;
}

#NoNotesDiv
{
	color:white;
	text-align: center;
}



.flat-form {
  /* background: #67809F; */
  background: black;
  width: 100%;
  height: 8%;
  position: absolute;
  font-family: 'Roboto';
  left:0;
  top:0;
}



img{border:0; margin: 0; padding: 0;}
#social-links ul li span.ifacebook,
		#social-links ul li span.itwitter,
		#social-links ul li span.igoogleplus {
			display: inline-table;
			width: 41px;
			text-align: center;
		}
		span.ifacebook { background: #354f88; padding: 7px 14px 6px 14px; cursor: pointer;}
		span.itwitter { background: #40a2d1; padding: 10px 0 10px 0;  cursor: pointer;}
		span.igoogleplus { background: #ce3e26; padding: 7px 10px 7px 10px;  cursor: pointer;}
		
		a.afacebook,
		a.atwitter,
		a.agoogleplus {
			display: inline-table;
			color: #ffffff;
			text-decoration: none;
			margin: 0;
			width: 250px;
			text-align: center;
		}
		a.afacebook { background: none; padding: 10px 0 10px 0; }
		a.atwitter { background: none; padding: 10px 0 10px 0; }
		a.agoogleplus { background: none; padding: 10px 0 10px 0; }
	
		a.afacebook:hover { background: none; }
		a.atwitter:hover { background: none; }
		a.agoogleplus:hover { background: none; }
		
		li {list-style: none;}
		
		#fb{
		background: #3b5998;
		cursor: pointer;
		}
		
		#fb:HOVER{
		background: #354f88;
		cursor: pointer;
		}
		#gp{
		background: #de4c34;
		cursor: pointer;
		}
		#gp:HOVER{
		background: #ce3e26;
		cursor: pointer;
		}
		
		
		/*
		For the Google + sign in button
		*/
		 #customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 360px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #customBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    span.label {
      font-weight: bold;
    }
   
   #enterNotes{
   resize:none;
   }
   
   #helpText{
   padding-top:10px;
   color:red;
   text-align: center;
   z-index: 2;
   }
   
   .stickyNote{
    cursor:pointer;
   }
   #logout{
   float:right;
   cursor:pointer;
   padding-right: 10px;
   color:white;
   position:absolute;
   left:90%;
   top:3%;
   z-index: 2;
   }
   
   #allTagsContainer{
   position: absolute;
   top:10%;
   left:87%;
   width:150px;
   z-index: 3;
   color: white;
   background: #16a085;
   padding:10px;
   border-radius:5px;
   max-height: 100%
   }
   
   #helpicon{
   float:right;
   cursor:pointer;
   padding-right: 10px;
   height:20px;
   width:20px;
   padding-right: 3px;
   position:absolute;
   left:94%;
   top:3%;
   z-index: 2;
   
   }
  